

body { height:100vh; margin:0; background-color:#b9c1ce; }

a { text-decoration:none; color:inherit; }

#tabela{
    border: 2px solid #000000;
    border-spacing: 0px;
}

td{
    
    margin: 0;
    padding: 2px;   
    border-bottom: 1px solid black;
} 


tbody tr:nth-child(odd){
    background-color: #999999;
  }
